.signin-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #151517;
}

.logo-text {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
  margin-bottom: 40px;
}

.signin-form-card-container {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(120deg, #22222c, #1b1c22, #101113);
  padding: 25px 45px;
  width: 280px;
  border-radius: 5px;
}
.welcome-text {
  color: #858699;
  font-size: 15px;
  font-weight: 500;
  margin: 0;
}
.login-title {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
  margin-bottom: 10px;
}
.social-logins {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.social-login-btn {
  display: flex;

  align-items: center;

  color: #5c67c7;
  background-image: linear-gradient(to right, #222330, #5c67c7);
  width: 48%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #5c67c7;
  cursor: pointer;
}
.social-icons {
  width: 30px;

  margin-right: 20px;
}

.or {
  color: #4a4dea;
  align-self: center;
}

.signin-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.input-field-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.input-field {
  color: #4c4f58;
  font-size: 5px;
  height: 40px;
  border-radius: 5px;
  border-width: 0;
  padding: 0 20px;
  font-size: 0.9rem;
  font-weight: 500;

  background-color: #22222c;
  outline: none;
}

label {
  color: #808193;
  font-size: 0.8rem;
  font-weight: 500;
  margin-bottom: 5px;
}
.login-btn {
  color: #5c67c7;
  background-image: linear-gradient(to right, #222330, #5c67c7);
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #5c67c7;

  margin-top: 10px;
  cursor: pointer;
}

.message {
  color: #838383;
  font-size: 10px;
  font-weight: 500;
  margin-top: 10px;
  text-align: center;
}

.sign-up-link {
  color: #b6bf5b;
  font-size: 10px;
  font-weight: 500;
  margin-top: 10px;
}
